table {
    margin-left: 10px;
    width: 98%;
    text-align: center;
    border-collapse: collapse;
}

tr, td {
    padding: 4px 4px 4px 4px;
color: black;
}
tr:nth-child(even){
    background-color: limegreen;
}
tr:nth-child(odd){
    background-color: yellowgreen;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkgreen;
  color: white;
}
form {
    color: white;
    margin-top: 20px;
}

body {
    background-image: url("../images/background-seeds.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


.newcrop {
    width: 20%;
    height: auto;
    float: left;
    text-align: center;
}

.croptable {
    float: right;
    text-align: center;
    width: 80%;
    overflow: auto;
    height: 450px;
    overflow-y: scroll;
}
